@font-face {
  font-family: "Vertically";
  src: url("fonts/Vertically.otf");
}

@font-face {
  font-family: "Muli";
  src: url("fonts/Muli-Regular.ttf");
}

body {
  margin: 0;
  font-family: "Vertically", Arial, sans-serif;
  background-color: #000000;
  opacity: 0.1;
  animation: opac 1.5s forwards;
}

.container {
  position : absolute;
  top: 40%;
  left: 50%;
  width: auto;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #f5f5f5;
}


#particles-js{
  width: 100dvw;
  height: 100dvh;
  position: fixed;
  z-index: -1;
}

@keyframes opac {
  0% {
    opacity: 0.1;
    }

    100% {
    opacity: 1;
  }
}

.logo {
  width: 90%;
}

.logo img {
  width: 200px;
  height: auto;
  z-index: -1;
}

.search-bar {
  width: 70vw;
  max-width: 300px;
  height: 50px;
  display: flex;
  align-items: center;
  background-color: #0900;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border-radius: 45px;
  border: 1px solid #615d5d;
}

input {
  height: 100%;
  width: 100%;
  border: #000 1px solid;
  outline: none;
  padding: 10px;
  font-size: 17px;
  background-color: #000;
  color: #f5f5f5;
  font-family: "Muli", arial, sans-serif;
}

#search {
  width: 20px;
  filter: invert(1);
  padding-right: 5px;
}

h1 {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 35px;
  width: 90%;
  text-align: center;
}

button {
  margin-left: auto;
  width: 60px;
  height: 100%;
  border: 0;
  background-color: #000;
  transition: all 0.6s;
  cursor: pointer;
}

button:hover, button:focus-visible {
  background-color: #ff0000;
}